<div class="welcome">Welcome Back</div>
<div class="sub-heading">Log in to gigDe account</div>

<input type="email" placeholder="Email Address" class="input" />
<button
  (click)="clicked()"
  class="mat-icon-button button"
  [hidden]="emailProvided"
>
  <div class="icon1"></div>
</button>

<div *ngIf="emailProvided" class="password-container">
  <input
    #password
    type="password"
    placeholder="Password"
    class="password-input"
  />
</div>

<input type="checkbox" class="form-check-input" />
<div class="form-check-label">Keep me logged in</div>

<div *ngIf="emailProvided" class="element">
  <button class="btn btn-primary login-button">Login</button>
</div>

<div>
  <a href="#" class="forgot-link">Forgot email or password?</a>
</div>
