/* .container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 40%;
  top: 25%;
  left: 30%;
}

.element {
  margin: 10px 0;
}

.heading {
  font-weight: bold;
  font-size: xx-large;
}

.sub-heading {
  color: var(--unnamed-color-afafaf);
  font-size: smaller;
  letter-spacing: -0.25px;
  line-height: 80%;
  margin-bottom: 15px;
}

.email-container {
  display: flex;
  position: relative;
  width: 350px;
}

.password-container {
  display: flex;
  position: relative;
  width: 350px;
  margin-top: -5px;
}

.input {
  width: 100%;
  border: 1px solid var(--unnamed-color-000000);
  outline: none;
  border-radius: 3px;
  padding: 15px;
  padding-right: 50px;
}

input::placeholder { */
/*styles here*/
/* color: var(--unnamed-color-e7e7e7);
} */
/* 
.password-input {
  width: 100%;
  border: 1px solid var(--unnamed-color-000000);
  outline: none;
  border-radius: 3px;
  padding: 15px;
}

.button {
  border: 1px solid var(--unnamed-color-000000);
  border-left: none;
  background: white;
  color: var(--unnamed-color-137ded);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -35px;
}

.icon {
  margin-top: 5px;
}

.mat-icon-button:focus {
  outline: 0;
}

.form-check {
  display: flex;
  justify-content: space-around;
  width: 130px;
  margin-top: 100px;
}

.form-check-label {
  font-size: smaller;
}

.login-button {
  width: 200px;
}

.forget-link {
  color: var(--unnamed-color-137ded);
} */

.welcome {
  position: absolute;
  top: 261px;
  left: 786px;
  width: 348.4px;
  height: 69px;
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal bold 55px/69px Source Sans Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.sub-heading {
  position: absolute;
  top: 342px;
  left: 842px;
  width: 237px;
  height: 32px;
  text-align: left;
  font: normal normal normal 25px/32px Source Sans Pro;
  letter-spacing: -0.25px;
  color: #afafaf;
  opacity: 1;
}
/* 
::placeholder {
  position: absolute;
  top: 422px;
  left: 740px;
  padding-left: 20px;
  width: 117px;
  height: 25px;
  text-align: left;
  font: normal normal normal 20px/25px Source Sans Pro;
  letter-spacing: 0px;
  color: #e7e7e7;
  opacity: 1;
} */

.input::-webkit-input-placeholder {
  position: absolute;
  top: 422px;
  left: 740px;
  width: 117px;
  height: 25px;
  text-align: left;
  font: normal normal normal 20px/25px Source Sans Pro;
  letter-spacing: 0px;
  color: #e7e7e7;
  opacity: 1;
}

.password-input::-webkit-input-placeholder {
  position: absolute;
  top: 491px;
  left: 740px;
  font-size: 8px;
  width: 80px;
  height: 25px;
  text-align: left;
  font: normal normal normal 20px/25px Source Sans Pro;
  letter-spacing: 0px;
  color: #e7e7e7;
  opacity: 1;
}

.input {
  position: absolute;
  top: 399px;
  left: 720px;
  width: 480px;
  height: 70px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-000000);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
  border-radius: 3px;
  opacity: 1;
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
}

.icon1 {
  position: absolute;
  top: 424px;
  left: 1152px;
  width: 28px;
  height: 20px;
  background: transparent url("../../../assets/images/Group 198.svg") 0% 0%
    no-repeat padding-box;
  opacity: 1;
}

.password-input {
  position: absolute;
  top: 468px;
  left: 720px;
  width: 480px;
  font-size: 20px;
  height: 70px;
  padding-left: 20px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-000000);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
  border-radius: 3px;
  opacity: 1;
}

.form-check-input {
  position: absolute;
  top: 580px;
  left: 863px;
  width: 20px;
  height: 20px;
  border: 1px solid var(--unnamed-color-000000);
  background: transparent 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
  border-radius: 3px;
  opacity: 1;
}

.form-check-label {
  position: absolute;
  top: 577px;
  left: 904px;
  width: 154px;
  height: 25px;
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal normal 20px/25px Source Sans Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.login-button {
  position: absolute;
  top: 632px;
  left: 806px;
  width: 308px;
  height: 60px;
  opacity: 1;
  font: normal normal normal 20px/25px Source Sans Pro;
}

.forgot-link {
  position: absolute;
  top: 717px;
  left: 851px;
  width: 219.8px;
  height: 25px;
  color: var(--unnamed-color-137ded);
  text-align: left;
  font: normal normal normal 20px/25px Source Sans Pro;
  letter-spacing: 0px;
  color: #137ded;
  opacity: 1;
}
