<footer>
  <div class="container-fluid">
    <div class="container">
      <h1 class="logo">gigDe</h1>
      <hr class="line" />
      <br />
      <div class="footer-div">
        <div class="footer-column">
          <p class="titles">Services</p>
          <p>Development</p>
          <p>Design</p>
          <p>Quality Assurance</p>
        </div>
        <div class="footer-column">
          <p class="titles">Gigde</p>
          <p>About</p>
          <p>Terms and conditions</p>
          <p>Privacy Policy</p>
          <p>What's New</p>
        </div>
        <div class="footer-column">
          <p class="titles">Product</p>
          <p>Desktop Application</p>
          <p>Mobile Application</p>
        </div>
        <div class="footer-column">
          <p class="titles">Help</p>
          <p>Help & Support Center</p>
          <p>FAQ's</p>
        </div>
      </div>
      <hr class="line" />
      <div class="footer-div">
        <div class="">© 2019 GigDe. All rights reserved.</div>
        <div>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-linkedin-in"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
