<!-- <div class="header container-fluid">
  <div>
    <h1 class="logo">gig<span class="logoColor">De</span></h1>
  </div>

  <div class="options">
    <h2 class="newUser">Already have an account?</h2>
    <div>
      <button class="btn btn-primary" type="button" [routerLink]="['/login']">
        Login
      </button>
    </div>
  </div>
</div> -->

<div class="container-div">
  <div class="header shadow">
    <div class="logo">
      <span>gig<span class="logo-blue">De</span></span>
    </div>

    <div class="navigation">
      <span class="user-tag">New user?</span>
      <button class="btn btn-primary" type="button" [routerLink]="['/signup']">
        Sign up
      </button>
    </div>
  </div>
</div>

<!-- [ngClass]="{ shadow: buttonText === 'Signup' }" -->
