<!-- <app-header-with-shadow
  *ngIf="
    path === '/agency-details' || path === '/otp' || path === '/application'
  "
></app-header-with-shadow>
<app-header *ngIf="path === '/login' || path === '/'"></app-header>
<app-login-header
  *ngIf="path === '/signup' || path === '/country' || path === '/profession'"
></app-login-header> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-header-centre></app-header-centre> -->
<!-- <app-header></app-header> -->
<!-- <app-country-page></app-country-page> -->
<!-- <app-application></app-application> -->
<!-- <app-login></app-login> -->
<app-login-header></app-login-header>
<app-sign-up></app-sign-up>
<!-- <app-profession></app-profession>  -->
<app-footer></app-footer>
<!-- Making changes below -->
