<!-- <p class="footerGroup">
  <span class="help">Help</span> | <span class="policy">Privacy Policy</span> |
  <span class="terms">Terms and Conditions</span> |
  <span class="copyright"
    >Copyright @ 2019 GigDe Inc. All rights reserved.</span
  >
</p> -->

<footer>
  <div class="footer">
    <span class="element1">Help</span>
    <div class="line1">|</div>
    <span class="element2">Privacy Policy</span>
    <div class="line2">|</div>
    <span class="element3">Terms and Conditions</span>
    <div class="line3">|</div>
    <span class="element4"
      >Copyright @ 2019 GigDe Inc. All rights reserved.</span
    >
  </div>
</footer>
